@namespace VanKassa.Presentation.Admin.Areas.Identity.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<link rel="stylesheet" href="~/css/materialize.min.css"/>*@
    <link rel="stylesheet" href="~/css/mdb.min.css" />
    <link rel="stylesheet" href="~/bootstrap-icons-1.10.2/bootstrap-icons.css" />
</head>
<body>
    @RenderBody()
</body>
</html>